ROADMAP.md
aws.tf
aws.tf.sav
.terraform
terraform.tfstate*
*.txt
*.zip
*.plog
*.tf
*.bak
*.out
generated
vpc/generated
*.orig
old
setup-local-git.sh
.sh
to-aws-samples.sh
*.xlsx
test*
*.new
*.sav
clean*
*.xlsx
quotas
boto3
flip-eks.sh
.DS_Store
*.json
*.lock.hcl
aws_*.tf
aws_instance__i*.sh
tfplan
plan*
**/tfplan
**/plan*
**/*.plog
__pycache__
.python/data/tfplan
.python/data/*.log
.python/probeout/*
.python/bugs.md
.scripts/*
.python/provider-data/terraform-provider-aws
run.log
.python/.auto-gen/*.log
TOPORT_from_aws2tf.md
